#font-inter {
  font-family: "Inter", serif;
}

body {
  color: white;
  background-color: black;
}
/* Common style ----*/
p {
  color: gray;
}
h2 {
  margin-bottom: 1.5rem;
  font-size: 3rem;
}

h3 {
  margin: 0;
  margin-top: 1.5rem;
}
/* Common style ----*/

/* Header style ----*/
/* Navbar ----*/
#logo {
  color: #e6533c;
  font-size: 2.25rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#home {
  border-radius: 3rem;
  background-color: #e6533c;
  padding: 0.5rem 1.5rem;
}

.links {
  padding: 0.8rem 0;
  border-radius: 3rem;
}

.links > a {
  margin: 1rem;
  color: white;
  text-decoration: none;
}
/* Navbar ----- */

/* Banner Section ---- */
.banner-container {
  display: flex;
  justify-content: space-between;
}

.banner-title > h1 {
  font-size: 4.5rem;
  margin: 0 0 1rem 0;
}

.button1 {
  background-color: #e6533c;
  color: white;
  border: none;
  border-radius: 3rem;
  padding: 1rem 3rem;
  font-size: 1rem;
  font: 700;
  margin-top: 1rem;
  margin-right: 0.7rem;
}

.button2 {
  margin-top: 1.5rem;
  background-color: black;
  border: 2px solid white;
  color: white;
  border-radius: 3rem;
  padding: 1rem 3rem;
  font-size: 1rem;
  font: 700;
}

.banner-img {
  position: relative;
}

.icon-container {
  background-color: rgba(48, 48, 48, 0.54);
  border-radius: 0.5rem;
  position: absolute;
  bottom: 4rem;
  padding: 1rem;
  padding-left: 3rem;
}

.icon-container2 {
  background-color: rgba(48, 48, 48, 0.54);
  border-radius: 0.5rem;
  top: 8rem;
  left: 10rem;
  position: absolute;
  padding: 1rem;
}

.icon-container2 > h3 {
  font-size: 2rem;
  font: 900;
}

.icon-container > h3,
p,
.icon-container2 > h3,
p {
  margin: 0;
}

.circle {
  position: absolute;
  bottom: 4.7rem;
  left: 0.2rem;
}

/* Banner Section ---- */
/* Header style ----*/

/* Main Section ----> */

/* Habit Section ----> */
.habit-container {
  margin-top: 7rem;
  text-align: center;
}

.image-container {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 3rem;
}

.image-container > div > img {
  border-radius: 100%;
}

.image-container > div {
  text-align: center;
  border-radius: 100%;
}
/* Habit Section ----> */

/* Main Section ---->*/

/* Media Query ----*/

/* Smaller Device */
@media screen and (max-width: 576px) {
  .banner-title > h1 {
    font-size: 3.5rem;
  }
  .banner-container {
    flex-direction: column;
  }
  #bars {
    display: flex;
    font-size: 2rem;
  }
  body {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .links > a {
    display: none;
  }

  .circle {
    position: absolute;
    bottom: 5rem;
    left: 0.7rem;
  }

  .img-1 {
    display: none;
  }

  .image-container {
    flex-direction: column;
  }

  .image-container > div {
    margin-top: 2rem;
  }
}

/* Large Device */
@media screen and (min-width: 900px) {
  body {
    margin-left: 10rem;
    margin-right: 10rem;
  }
  #bars {
    display: none;
  }
  .links {
    border: 2px solid gray;
  }
  .img-2 {
    display: none;
  }

  .image-container > div {
    margin-left: 4rem;
  }
}
/* Media Query ----*/
